.filterInput {
    composes: input from "./UI/commonInput.css";
}

.clearBtn {
    composes: btn from "./UI/commonBtn.css";
    composes: clear from "./UI/commonBtn.css";
    margin-left: 10px;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;

}