.form {
    display: flex;
    flex-direction: column;
}


.userInput {
    composes: input from "./UI/commonInput.css";
}

.error {
    composes: error from "./UI/commonInput.css";
}

.buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.ctaBtn {
    composes: btn from "./UI/commonBtn.css";
    composes: primary from "./UI/commonBtn.css";
    width: 100%;
}

.addBtn {
    composes: btn from "./UI/commonBtn.css";
    composes: primary from "./UI/commonBtn.css";
    width: 100%;
    margin-right: 10px;
}

.cancelBtn {
    composes: btn from "./UI/commonBtn.css";
    composes: secondary from "./UI/commonBtn.css";
    width: 100%;
    margin-left: 10px;
}
