.li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mini {
    font-size: 1rem;
    color: #444;
    border-color: #333;
    margin-left: .3rem;
}

.mini {
    font-size: 1rem;
    color: #444;
    border-color: #333;
    margin-left: .3rem;
}

.mini:hover {
	background: #3b2394;
    color: #e9f1f7;
}