* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b8c6db;
  background-image: linear-gradient(225deg, #b8badb 0%, #f5f7fa 74%);
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;
  overflow: hidden;
}